@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@200;300;400;500;600;700&display=swap');

.sarabun{
  font-family: 'Sarabun', sans-serif !important;
}

body {
  text-align: center;
  font-family: 'Sarabun', sans-serif !important;
  font-weight: 500;
}

.date-picker > div > input{
  border: 1px solid #696969 !important;
  padding: 11px 23px 11px 60px !important;
  border-radius: 8px !important;
  font-size: 20px;
  font-weight: 400;
}

.date-picker > div > div > div .text-white{
  color: white !important;
  font-weight: 700 !important;
  background-color: #1CB5B1 !important;
  border-radius: 100%;
} 

.text-white{
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

select::-ms-expand {
  display: none;
}